[user]
	name = Adrián Cuesta
	email = adriancuestariejos@gmail.com
[color]
	status = auto
	branch = auto
[core]
	excludesfile = /Users/adricu/.adricu/git/.gitignore
[push]
        default = current
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
