[user]
	name = Adrián Cuesta
	email = adriancuestariejos@gmail.com
[color]
	status = auto
	branch = auto
[core]
	excludesfile = ~/.adricu/git/.gitignore
[push]
        default = current
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
